
* {
    box-sizing: border-box;
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:500&display=swap');
}

body {
    margin: 0;
}

nav {
    background: lightgrey;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: auto;
}
nav a {
    text-decoration: none;
    font-family: "Work-Sans";
    color: black;
    display: flex;
    padding: 2em;
}
nav a:hover {
    color: blue;
}


.logo {
    margin: 0 auto;
    align-items: auto;
    position: relative;
    font-size: 3em;
    font-family: "Montserrat";
    padding: .2em;

}
section {
    display: flex;
    flex-direction: row;
    padding: 0;
    font-family: "Work-Sans";



}
