/* selector for id="container" */
#container {
    margin: 50px auto;
    width: 500px;
    padding: 10px;
}

/*  selector for all "h1" elements
    that are a descendent of id="container"
    and have a class of "fancy-header" */
   .container h1.fancy-header{
    color: blue;
    text-decoration: underline;
}

/* selector for all "em" elements */
em  {
    font-weight: bold;
}

/* selector for all elements with class="article" */
.article {
    clear:both;
}

/*  selector for all "anchor" elements
    that are a direct child of an element with class="article" */
.article > a{
    float:right;
}

h1 { text-align: center; }

h1 {
text-decoration: underline; }

body { background-color:red; }

body {
    background-image: url(Css-Background.jpg);
    background-color: #000f00;
}

body {
    color: #FFFFFF
}