.header {
    background-color: dodgerblue;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: .5em;
    margin: auto;
    font-size: larger;

}

#searchBtn {
    background-color: dodgerblue;
    color: white;
    font-size: larger;

}
body {

    background: lightgrey;
}


div.cards {
    margin: .5em;
    border-radius: 2px;
    background: white;
    width: 250px;
    /*height: 350px;*/
    /* the following declarations make the card a flex container and justify and align its flex items */
    /*display: flex;*/
    /*flex-direction: column;*/
    align-items: start;


    /*justify-content: space-around;*/
}

.column {
    /*display: flex;*/
    /*float: left;*/
    width: 25%;
    /*padding: 0 10px;*/

}
.container {
    display: flex;
    justify-content: center;
}

/*.day {*/
/*    float: left;*/
/*}*/
/*.row:after {*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/
.weatherHeader {
    background-color: lightblue;
    display: flex;
}