.body{
    border-color: #848487;
    padding: 2rem 0;
}

.container-fluid {

}

nav   {
    display: inline-block;
    border-color: #848487;
}





.container {
    background-color: white;
    opacity: .5;
    margin: 0;
    max-width: 1500px;
    border-color: #848487;

}


.jumbotron {
    background-image: url(img/pizza.png);
    background-repeat: no-repeat;
}
h1 {
    text-align: center;
}

.nav-item.fas.fa-user{
    position: absolute;
    top: auto;
    right: 10px;
    bottom: auto;
    color: inherit;
}
.card-text-left {
    border-color: rgb(218 218 218);
    display: flex;
}

.list-group-item:nth-child(2) {
    margin-top: 1px;
    margin-bottom: 1px;
}

.footer{
    text-align: right;
    margin: auto;
    border-color: #848487;
    background-color: rgb(244 244 244);
    padding: 1em;




}

.crust-list-group-2:nth-child(1){
    margin-top: 1em;
    margin-bottom: 1em;

}
.card-columns {
media-breakpoint-only() column-count: 3;
}